<%- include('header') -%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./css/landing_css.ejs'); %>
   
    <title>Mer's Portfolio</title>

</head>
<div id="container">
<body>
    <div class="shadow mb-5 rounded yellowish_bg"  style=" margin: 2%;">
       <!-- Carousel -->
       <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="https://static2.cbrimages.com/wordpress/wp-content/uploads/2019/12/Featured-Image-11.jpg?q=50&fit=crop&w=767&h=450&dpr=1.5" alt="First slide">
          </div>
        </div>
      </div>
       <!-- Carousel End -->
    <h1>Hello,  I'm Mer and I amdjkasnfkjasnfjksanfakjfnsjkf</h1>
    </div>
</body>
</div>
</html>